
.doclogin-form{
    width: 30%;
    padding: 30px 20px;
    margin: 100px  500px;
    margin-top: 30px;
    
    border: 4px ;
    box-shadow: 1px 1px 8px 8px  #6e9aeb;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #435585;
}
.doclogin-btn{
    width: fit-content;
    display: flex;
    
}