.department-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    border: 2px solid red;
}





.department-input{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    width: 30%;
    margin-left:50px ;
}
.department-btn-display{
    display: flex;
    align-items: end;
    margin-top: 100px;
    margin-right: 40px;
}
.image{
    border: 2px solid blue;
     border-radius: 10px;
}