.patient-form{
    border: 2px solid blue;
    width: 30%;
   
    padding: 30px 20px;
    padding-right: 30px;
    margin: 0px  500px;
   
    border: 2px solid red;
    
    
    
    border: 4px ;
    box-shadow: 1px 1px 8px 8px  #6e9aeb;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #435585;
}
.patient-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}